body{
  background-color: #0d1117;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
  border-color: #ffffff !important;
}

.MuiFormLabel-root{
  color: #ffffff !important;
}

.TB{
  position: sticky;
  top: 100px;
}

.mainBox{
  background-color: #66666648;
  backdrop-filter: blur(7px);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}


.expense{
  position: fixed;
  bottom: 20px;
  right: 20px;
}