body{
  background-color: #0d1117;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
  border-color: #ffffff !important;
}

/*for change label color in focus state*/
.MuiFormLabel-root{
  color: #ffffff !important;
}